@import '~@fluentui/react/dist/sass/References.scss';

.wordPressRssFeed {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.feedContainer {
  padding: 1rem;
}


.flexW100Container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.flexBoxJustifyEnd {
  justify-content: flex-end;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.marginYFormField {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flexBasisFull {
  flex-basis: 100%;
}

.flexBasis80 {
  flex-basis: 80%;
}

.flexBasisHalf {
  flex-basis: 50%;
}

.alert {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border-radius: 4px;
  color: black;
}

.warning {
  background-color: rgb(251, 210, 143);
}

.success {
  background-color: rgb(167, 225, 171);
}

.error {
  background-color: rgb(223, 170, 170);
}

.limitsContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links a,
.readMore {
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
  color: "[theme:link, default:#03787c]";
  color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

  &:hover {
    text-decoration: underline;
    color: "[theme:linkHovered, default: #014446]";
    color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
  }
}


/* post styles */
.post {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}


.content {
  text-align: left;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 8px;
  margin-top: 0;
}

.date {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.excerpt {
  font-size: 1rem;
  margin-bottom: 12px;
}



.readMore:hover {
  text-decoration: underline;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  &>article {
    width: 40%;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Grid Post Styles */
.gridPost {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.gridPost>img.thumbnail {
  flex-basis: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}

/* List Post Styles */
.listPost {
  display: flex;
  flex-direction: row;
  align-items: top;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  gap: 1rem;
}

.listPost>img.thumbnail {
  max-height: 200px;
  max-width: 30%;
  object-fit: cover;
  border-radius: 4px;
}

/* Responsive */
@media (max-width: 768px) {
  .gridPost {
    width: 100%;
  }

  .listPost {
    flex-direction: column;
    text-align: center;
  }

  .listPost img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.postAuthorContainer {
  display: flex;
  gap: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  justify-content: flex-start;
  align-items: center;

  img {
    border-radius: 30%;
    width: 30px;
  }

  a {
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.feedTitle {
  font-size: medium;
}

.feedDescription {
  font-size: small;
}


/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 0;

  button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: white;
    color: "[theme:link, default:#03787c]";
    color: var(--link);

    &:hover {
      text-decoration: underline;
      color: white;
      background-color: "[theme:link, default:#03787c]";
      background-color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }

  .activePage {
    background-color: "[theme:link, default:#03787c]";
    color: white;
    border-color: "[theme: themePrimary, default: #0078d7]";
  }
}

.colorPreview {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
}